<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>Lista estudiantes</title>
</head>
<body>

	<div class="section no-pad-bot" id="index-banner">

		<div class="container ">
			<table class="col s6 card grey lighten-4">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Carne</th>
						<th>Carrera</th>
					</tr>
				</thead>
					<th:block th:each="estudiante, row: ${estudiantes}">
						<tr>
							<td th:text="${estudiante.cUsuario}"></td>
							<td th:text="${estudiante.nombre}"></td>
							<td th:text="${estudiante.apellido}"></td>
							<td th:text="${estudiante.carne}"></td>
							<td th:text="${estudiante.carrera}"></td>
						</tr>
					</th:block>
			</table>
			<div class="row center">
				<a class="btn waves-effect center" th:href="@{/inicio}">
								Regresar<i class="material-icons left">arrow_back</i>
					</a>
					
			</div>

		</div>
	</div>

</body>
</html>